.custom-carousel .carousel-item img {
  width: 350px;
  height: 500px; 
  object-fit: cover; 
  margin: 0 auto; 
  object-fit: cover; /* Asegura que la imagen no se distorsione */
  margin: 0 20px; 
}

.custom-carousel {
  background-color: #0000ff; 
  display: flex;
  justify-content: center;
  padding: 0 20px; /* Espacio en los lados del carrusel */
}

.carousel-inner {
  display: flex;
  justify-content: center;
}

.carousel-item {
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  align-items: center; 
}

.carousel-caption {
  width: 350px; 
  text-align: center; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; /
  padding: 10px 0; 
  margin-top: -10px;
}
.carousel{
  padding-top: 120px;
}
