.custom-carousel-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
  gap: 20px; /* Espaciado entre las cards */
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  background-color: #010123; /* Azul oscuro */
  padding: 40px 20px; /* Espacio más amplio para darle aire al diseño */
  margin-top: 120px; /* Espacio entre el carrusel y el navbar */
}

.custom-carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  margin: 10px;
  min-height: 100px; /* Define un alto mínimo consistente para las cards */
}


.carousel-item img {
  width: 100%; /* Ocupa el ancho total del contenedor */
  min-height: 200px; /* Altura mínima para mantener uniformidad */
  max-height: 200px; /* Limita la altura máxima */
  object-fit: cover; /* Ajusta la imagen para que cubra el área */
  border-radius: 10px; /* Bordes redondeados */
}


.carousel-caption {
  width: 100%; /* Ocupa el ancho del contenedor */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.custom-carousel-item img {
  display: block; /* Asegúrate de que la imagen sea un bloque */
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: 280px; /* Fija la altura exacta */
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
}
