/* Estilos generales */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
  gap: 20px;
  padding: 20px;
  padding-top: 120px; /* Agrega un espaciado superior para evitar que el navbar lo cubra */
  justify-items: center; /* Centra los elementos dentro de cada celda */
}

@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
  }
}

@media (max-width: 900px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .product-container {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas (móviles) */
  }
}

/* Tarjetas de productos */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  max-width: 350px;
  max-height: 70vh;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%; /* La imagen ocupa el 100% del ancho de la tarjeta */
  height: 250px; /* Altura fija para las imágenes */
  object-fit: cover; /* Asegura que la imagen se recorte y mantenga la proporción sin deformarse */
  cursor: pointer;
}

.product-card-body {
  padding: 10px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.product-card-body h3 {
  color: black; /* Cambia el color del nombre del producto */
  font-weight: bold; /* Opcional: Para hacerlo más legible */
}

.product-card-body p {
  color: black; /* Cambia el color del precio */
  font-size: 14px; /* Opcional: Cambia el tamaño del texto */
}
